body {
    background-color: black;
}

.focus {
    transform: scale(3);
    image-rendering: pixelated;
    width: auto;
    height: auto;
}

section {
    display: inline-block;
    position: relative;
}

#animate {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
}